html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100vw;
  height: 62.5vw; /* 640:400 aspect */
  max-height: 100vh;
  max-width: 160vh; /* 100vh * 640/400 */
  cursor: crosshair;
}
